<footer>
    <nav class="navbar fixed-bottom bg-body-tertiary navbar-bg-footer ">
        <div class="container-fluid navbar-jus-cont-center">
            <h6 class="display-12 navbar-text"> &copy; Copyright 2023. All rights reserved.</h6>
        </div>
    </nav>
</footer>
