<%- include partials/header.ejs %>

<%- include partials/top_nav.ejs %>

<mmain class="l-main">
    <section class="about-me">
      <div class="container">
        <div class="about-content">
          <h1> About Me </h1>
          <p>Hi! I am Rex Robles from the Philippines. I've worked as a research basic support lab assistant for 5 years. 
            I spent 12 years in the oil and gas industry, three as a lab technician for Cementing and Stimulation operations 
            and ten as a Maintenance Administrator.  I am skilled in assisting teams by quickly performing conventional laboratory 
            office duties, as well as making suitable technical judgements, critical thinking, and problem resolution.</p>
        </div>
        <div class="home-img" about-content>
          <img src="/images/FBPhoto.jpg">
        </div>
        <a href="/resume/Resume_RRobles - Copy.pdf" class="about-resume-btn" target="_blank" >See my Resume</a>
      </div>
    </section>
  </main>

  <%- include partials/bottom_nav.ejs %>  

  <%- include partials/footer.ejs %>