<%- include partials/header.ejs %>

<%- include partials/top_nav.ejs %>

<main class="l-main">
    <section class="projects">
      <div class="container">
        <div class="projects-content">
          <h1> Projects </h1>
          <p>Here are a few projects I have done so far:</p>
        </div>

        <div class="projects-container-3">
            <div class="project-container">

                <div class="project-img">
                  <img src="images\Maximo.jpg" alt="">
                </div>

                <div class="project-description">
                    <h1 class="project-title">Project 1</h1>
                    <h2 class="project-name">Implementation of the asset management system Maximo 
                    </h2>
                    <p class="project-subtitle">Lead the deployment of the asset management system Maximo for Schlumberger's Well Services Maintenance department. 
                      </p>
                </div>
            </div>

            <!-- project 2-->
            <div class="project-container">

              <div class="project-img">
                <img src="images\JRRH.png" alt="">
              </div>

              <div class="project-description">
                  <h1 class="project-title">Project 2</h1>
                  <h2 class="project-name">JRRH Inventory Management System 
                  </h2>
                  <p class="project-subtitle">This project is a software system for tracking inventory levels, supply requisitions, materials issuance, ordering/re-ordering of supplies and deliveries. 
                    It can also be used in the manufacturing industry to create a work order, bill of materials and other production-related documents.
                    </p>
              </div>
          </div>

        <!-- project 3-->
        <div class="project-container">
          <div class="project-img" style="width: 90%;">
            <img src="/images/project3-img.png" alt="">
          </div>

          <div class="project-description">
              <h1 class="project-title">Project 3</h1>
              <h2 class="project-name">Toronto Housing Management System</h2>
              <p class="project-subtitle">Owners need to manage and monitor their property and for tenants to help manage the 
                rent, cleaning schedule, and requests to the owner. So, the system we propose will offer a 
                solution to both owners and tenants to smoothly manage matters of payment and other 
                important responsibilities that arise when living in a rental property.
                </p>
          </div>
      </div>
  </div>

      </div>
    </section>
  </main>


<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
